extends layout.pug

block append head
  link(rel='stylesheet', href='/stylesheets/torrent.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block append scripts
  script(src="/javascripts/torrent.js")
block content
  //- main tipo chrome con 2 finestre espandibili per ricerca
  .main 
    #tab-bar
      button(data-target="management").tab-btn.active
        img(src="/images/bars-progress-solid.svg" width="35" height="35")
        span download
      button(data-target="download").tab-btn#template
        img(src="/images/magnifying-glass-solid.svg" width="35" height="35")
        span search
      button.tab-btn 
        img(src="/images/plus-solid.svg" width="35" height="35")
    a#cover
      form(autocomplete="off")#upload-form
        h1 Download from Magnet
        .txt-field
          input#url-input(type="text", name="URL" required)
          span
          label URL
        input(type="button" onclick="download" value="Select Folder")#select-folder-button
        input(type='hidden' value="/")#selected-folder
        input(type="submit" hidefocus="true" value="Download")
      #select-folder
        .navbar
          button.back
            img(src="/images/up-solid.svg" width="35" height="35")
          span /
        .submit-form 
          button.cancel cancel
          button.submit open
        #folders
    #management.tab.active
      #torrent-navbar 
        a.item#upload
          img(src="/images/download-solid.svg" width="35" height="35").download-img
        .spacer
        a.item#select-all
          img(src="/images/check-double-solid.svg" width="35" height="35").select-all
        .spacer
        a.item#remove
          img(src="/images/trash-solid.svg" width="35" height="35").trash-img
        .spacer
        a.item#play
          img(src="/images/play-solid.svg" width="35" height="35").play-img
        a.item#pause
          img(src="/images/pause-solid.svg" width="35" height="35").pause-img
        a.item.last
          img(src="/images/gear-solid.svg" width="35" height="35")
      #torrents-container 
        each torrent in torrents
          .torrent.draggable(id="torrent_"+torrent.id style="--i: "+(torrent.percentDone*100).toFixed(2)+"%;")
            .torrent_grab
              img(src="/images/grip-dots-vertical.svg")
            .torrent_name= torrent.name
            case torrent.status 
              when 0
                .torrent_peer_details= "PAUSED"
              when 1
                .torrent_peer_details= "CHECK_WAIT"
              when 2
                .torrent_peer_details= "CHECK"
              when 3
                .torrent_peer_details= "DOWNLOAD_WAIT"
              when 4
                .torrent_peer_details= "DOWNLOAD"
              when 5
                .torrent_peer_details= "SEED_WAIT"
              when 6
                .torrent_peer_details= "SEED"
              when 7
                .torrent_peer_details= "ISOLATED"
            
            .progress-bar
            .progress-status= (torrent.downloadedEver/1024/1024/1024).toFixed(2) + "/" + (torrent.totalSize/1024/1024/1024).toFixed(2) + "GB (" + (torrent.percentDone*100).toFixed(2) + "%)"
    #download.tab 
      .container
        form.search-bar
          input.search-btn(type="text", name="search-btn" autocomplete="off" placeholder="Search for torrents")
          button(type="submit") 
            span search
            img(src="/images/magnifying-glass-solid.svg" width="35" height="35")
        .search-results

